<html>
<head>
</head>
<body>
<h1>Hello! This is an embedded ruby file. </h1>
  <p>
    My name is <%=@name%> , and I am pretty bored. I just want to go out and PARTY but I like making money. It is pretty great. 
  </p>
  <p> I am going to pick a number from 1 to 100 </p>
  <p> <%=@rand =rand(1..100)%></p>
  <p> The random number i picked is <% if @rand%2==0   %>
     <p>even</p> 
      <%else%>
    <p>odd</p>
 <% end %>
  </p>
</body>
</html>


